In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import pickle
from urllib.parse import urlparse
import tldextract
import datacollection
from zipfile import ZipFile 
import random
from comcrawl import IndexClient
import json
from io import BytesIO
import gzip
import datacollection

In [2]:
response = requests.get('https://www.domcop.com/files/top/top10milliondomains.csv.zip')

with open('../../dataset/legit/top10milliondomains.csv.zip', 'wb') as f:
    f.write(response.content)

In [6]:
with ZipFile('../../dataset/legit/top10milliondomains.csv.zip', 'r') as zObject:
    zObject.extractall(path='../../dataset/legit')

In [2]:
topdomainpagerank_df=pd.read_csv('../../dataset/legit/top10milliondomains.csv')

In [3]:
filt=topdomainpagerank_df['Open Page Rank']>5

In [4]:
topdomainpagerank_df=topdomainpagerank_df[filt]

In [6]:
topdomainpagerank_df

      Rank                     Domain  Open Page Rank
0     9794              travis-ci.org            5.59
1     1704                seattle.gov            6.01
2    13677                    jhu.edu            5.34
3    11345                    ask.com            5.46
4     1245                    edx.org            6.10
..     ...                        ...             ...
495  25108       theherbalacademy.com            5.07
496  26170         bohemiancoding.com            5.05
497  17432  news.climate.columbia.edu            5.21
498   1424      click.linksynergy.com            6.07
499  26930           gametrailers.com            5.04

[500 rows x 3 columns]

In [ ]:
legit_df=datacollection.datacollector_legit(10,topdomainpagerank_df,1000,'../../dataset/legit/htmlfiles')

In [8]:
legit_df['phishing']=0

In [9]:
legit_df

,url,website,phishing
1,https://developers.facebook.com/docs/workplace...,facebook_1709999285266242.html,0
2,https://developers.facebook.com/docs/workplace...,facebook_1709999286180987.html,0
3,https://developers.facebook.com/docs/workplace...,facebook_1709999287892264.html,0
4,https://developers.facebook.com/docs/workplace...,facebook_1709999288979749.html,0
5,https://developers.facebook.com/brad.the.piano...,facebook_1709999289763312.html,0
...,...,...,...
1003,https://auto.schema.org/organizer,schema_1710001720266994.html,0
1004,https://schema.org/Property,schema_1710001721041041.html,0
1005,https://schema.org/musicArrangement,schema_1710001722010129.html,0
1006,https://iot.schema.org/governmentBenefitsInfo,schema_1710001723067676.html,0
1007,https://meta.schema.org/leaseLength,schema_1710001724037364.html,0

In [10]:
legit_df.to_csv('../../dataset/legit/legit_dataset.csv',index=False)