In [4]:
import mysql.connector as connection
import pandas as pd
import preperation_functions
import os

In [2]:
try:
    mydb = connection.connect(host="localhost", database = 'phishing',user="phishing_user", passwd="password",use_pure=True)
    query = "Select * from phishing;"
    complete_df = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

/tmp/ipykernel_9514/1094112001.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  complete_df = pd.read_sql(query,mydb)

In [3]:
complete_df

,rec_id,url,website,result,created_date
0,1,http://intego3.info/EXEL/index.php,1613573972338075.html,1,2021-02-17 20:29:32
1,2,https://www.mathopenref.com/segment.html,1635698138155948.html,0,2021-10-31 16:35:38
2,3,https://www.computerhope.com/issues/ch000254.htm,1635699228889266.html,0,2021-10-31 16:53:48
3,4,https://www.investopedia.com/terms/n/next-elev...,1635750062162701.html,0,2021-11-01 12:31:02
4,5,https://jobs.emss.org.uk/lcc.aspx,161356510250721.html,0,2021-02-17 18:01:42
...,...,...,...,...,...
79995,79996,https://bestjobmanage.com/adminservicedesk/True/,1622125898152592.html,1,2021-05-27 14:31:38
79996,79997,http://vieuxshack.com/download/adobe/b51f18074...,160822961118687.html,1,2020-12-17 23:56:51
79997,79998,https://www.tumblr.com/search/gas%20mask%20tattoo,163570726902772.html,0,2021-10-31 19:07:49
79998,79999,https://www.magnetic-shield.com/pdf/wc_4.pdf,1635701992217159.html,0,2021-10-31 17:39:52
79999,80000,https://sqm50.codesandbox.io/,1613575077067764.html,1,2021-02-17 20:47:57

In [26]:
complete_df.drop(columns=['rec_id', 'created_date'],inplace=True)
complete_df.rename(columns = {'result':'phishing'}, inplace = True)
complete_df.to_csv('../../dataset/sql_extracted/complete_df.csv',index=False)

In [29]:
filt=(complete_df['phishing'] == 1) 
df_phish=complete_df[filt]
df_phish = df_phish.sample(n = 10000, random_state = 12).copy()
df_phish.reset_index(drop=True,inplace=True)
df_phish.to_csv('../../dataset/selected/phishing/phishing_selected_df.csv',index=False)

In [32]:
filt=(complete_df['phishing'] == 0) 
df_legit=complete_df[filt]
df_legit = df_legit.sample(n = 10000, random_state = 12).copy()
df_legit.reset_index(drop=True,inplace=True)
df_legit.to_csv('../../dataset/selected/legit/legit_selected_df.csv',index=False)

In [33]:
preperation_functions.parseurl(df_phish)
df_phish.to_csv('../../dataset/prepared/phishing/phishing_prepared_df.csv',index=False)

In [40]:
preperation_functions.parseurl(df_legit)
df_legit.to_csv('../../dataset/prepared/legit/legit_prepared_df.csv',index=False)